// colors
$whitecolor: #ffffff;
$silvercolor: #676868;
$textsilver: #848484;
$redcolor: #e31b1b;
$blackcolor: #222222;
$sevicescolor: #f5f5f5;
// colors

// reset
a:hover{
	text-decoration: none;
}
// reset

// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');// fonts



/* 
CSS
*/



// navbar
body{
	overflow-x: hidden;
	background: black;
}
.navbarmargin{
	margin-top: 48px;
}
.topmenu{
	height: 48px;
	background: transparent;
	position: fixed;
	left: 0;
	right: 0;
	padding-top: 13px;

	text-align: left;
	p{
		color: $textsilver;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		display: inline;
		margin-right: 70px;
		font-size: 12px;
		letter-spacing: 1px;
	}
	i{
		color: $textsilver;
		margin-left: 0;
		margin-right: 10px;
	}
	p:hover{
		color: $whitecolor;
		cursor: pointer;
	}
	.contact{
		text-align: right;
		p{
			color: $textsilver;
			font-family: 'Montserrat', sans-serif;
			font-weight: 600;
			display: inline;
			margin-right: 0;
			margin-left: 70px;
			font-size: 12px;
			letter-spacing: 1px;
		}
		i{
			color: $textsilver;
			margin-right: 10px;
			margin-left: 0px;
		}
		p:hover{
			color: $whitecolor;
			cursor: pointer;
		}
	}
	-webkit-transition: .5s ease;
	   -moz-transition: .5s ease;
	    -ms-transition: .5s ease;
	     -o-transition: .5s ease;
	        transition: .5s ease;
}

.navbar-default {
	-webkit-transition: .5s ease;
	   -moz-transition: .5s ease;
	    -ms-transition: .5s ease;
	     -o-transition: .5s ease;
	        transition: .5s ease;
	min-height: 75px;
	border: none;
	box-shadow: none;
    background: transparent;

	.navbar-collapse{
		border-top: 1px solid $silvercolor;
	}
    .navbar-nav > li > a {
    	text-shadow: none;
    	padding-top: 0;
        color: $textsilver;
        font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		letter-spacing: 1px;
		padding-top: 28px;
		font-size: 12px;
		padding-left: 15px;
		margin-left: 70px;
		p{
			padding: 0;
			margin: 0;
		}
    }
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        color: $whitecolor;
        p{
        	margin: 0;
        	border-bottom: 2px solid $redcolor;
        	padding-bottom: 4px;
        }
    }
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: $whitecolor;
        box-shadow: none;
        background: transparent;
        p{
        	margin: 0;
        	border-bottom: 2px solid $redcolor;
        	padding-bottom: 4px;
        }
    }
}


@media screen and (max-width: 1200px) {
	.navbar-default{
		.navbar-nav > li > a {
			margin-left: 5px;
		}
	}
	.topmenu p{
		margin-right: 30px;
	}
}
@media screen and (max-width: 768px) {
	.navbar-default {
		background: $silvercolor;
	}
	.topmenu{
		display: none;
	}
	.navbar-header {
	      float: none;
	  }
	  .navbar-left,.navbar-right {
	      float: none !important;
	  }
	  .navbar-default .navbar-nav > .active > a,
	  .navbar-default .navbar-nav > .active > a:hover,
	  .navbar-default .navbar-nav > .active > a:focus {
	  	box-shadow: none;
	      color: $silvercolor;
	      .crta{
	      	width: 100%;
	      	transition:width 0.8s;
	      }
	      p{
	      	margin: 0;
	      	border-bottom: none;
	      	padding-bottom: 0px;
	      }
	  }
	  .navbar-default .navbar-toggle {
	  	margin-right: 0;
	  	padding-left: 0;
	  	padding-right: 0;
	  	margin-top: 22px;
	      display: block;
	      border: none;
	  }
	  .navbar-default .navbar-toggle:focus,
	  .navbar-default .navbar-toggle:hover{
		background: transparent;
	  }
	  .navbar-default .navbar-toggle .icon-bar{
	  	background: $whitecolor;
	  }
	  .navbar-default .navbar-nav{
	  	    margin-top: 0;
	  	height: calc(100vh - 123px);
	  	overflow: scroll;
	  	padding: 0;
	  }
	  .navbar-default .navbar-nav > li > a{
	  	margin-left: 0;
	  	padding: 10px;
	  	padding-left: 20px;
	  	.crta{
	  		width: 0;
	  		margin-left: -20px;
	  		background: $redcolor;
	  		height: 2px;
	  		position: absolute;
	  		margin-top: 10px;
	  		transition:width 0.4s;
	  	}
	  }
	  .navbar-default .navbar-nav > li{
	  	border-bottom: 2px solid #f2f3f4;
	  }
	  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
	  	border-top: 1px solid #f2f3f4;
	  	height: 100vh !important;
	  	overflow-x: hidden;
	  }
	  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	  	max-height: 200vh;
	  }
	  .navbar-default .navbar-nav > li > a:hover,
	  .navbar-default .navbar-nav > li > a:focus {
	      color: $silvercolor;
	      .crta{
	      	width: 100%;
	      	transition:width 0.8s;
	      }
	      p{
	      	margin: 0;
	      	border-bottom: none;
	      	padding-bottom: 0px;
	      }
	  }
          .side-collapse-container{
              width:100%;
              position:relative;
              right:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
			  top: 123px;
			  border: none;
			  border-radius: 0;
			  box-shadow: none;
              bottom:0;
              right:0;
              width:250px;
              position:fixed;
              overflow:hidden;
              transition:margin .4s;
              background: $whitecolor;
          }
          .side-collapse.in {
              width:250px;
              transition:margin .4s;
			  margin-right: -250px;

          }
          .navbar-default .navbar-nav > li {
			width: 100%;
          }
      }



.navbar-toggle {
  border: none;
  background: transparent !important;
  
  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);      
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}


@media(max-width:768px){
	.navbar-default{
		margin-top: 0 !important;
	}
	.navbar-default .navbar-nav{
		height: calc(100vh - 75px);
	}
	.side-collapse {
		top: 75px;
	}
	.navbar-default .navbar-toggle {
		padding-left: 15px;
		padding-right: 15px;
	}
}



.headfluid{
	padding-bottom: 25px;
	min-height: 650px;
	background: url(../img/cover.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 170px;
	.col-md-3{
		padding: 0;
		input{
			width: 100%;
			margin-bottom: 20px;
			height: 45px;
			border: none;
			padding: 0;
			background: rgba(85, 85, 85, 0.7);
			border-radius: 5px;
			padding-left: 12px;
			color: $whitecolor;
			font-family: 'Montserrat', sans-serif;
			letter-spacing: 0.5px;
			font-size: 14px;
		}
		input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: $whitecolor;
		}
		input::-moz-placeholder { /* Firefox 19+ */
		  color: $whitecolor;
		}
		input:-ms-input-placeholder { /* IE 10+ */
		  color: $whitecolor;
		}
		input:-moz-placeholder { /* Firefox 18- */
		  color: $whitecolor;
		}
		input:focus{
			outline:0;
			background: rgba(85, 85, 85, 1); 
			border: white 1px solid;
			-webkit-box-shadow: 0px 0px 25px -5px rgba(255,255,255,1);
			-moz-box-shadow: 0px 0px 25px -5px rgba(255,255,255,1);
			box-shadow: 0px 0px 25px -5px rgba(255,255,255,1);
		}
		.fup{
			p{
				margin: 0;
				color: $whitecolor;
				font-family: 'Montserrat', sans-serif;
				letter-spacing: 0.5px;
				font-size: 15px;
				margin-bottom: 30px;
			}
			p:hover{
				color: $textsilver;
			}
		}
		button{
			background: transparent;
			border: 2px solid $redcolor;
			color: $whitecolor;
			font-family: 'Montserrat', sans-serif;
			letter-spacing: 0.5px;
			font-size: 15px;
			padding: 15px 22px 15px 22px;
			margin-bottom: 25px;
			i{
				margin-left: 65px;
			}
		}
		button:hover{
			background: rgba(85, 85, 85, 0.4); 
			border-color: $whitecolor;
			-webkit-transition: .2s ease;
			   -moz-transition: .2s ease;
			    -ms-transition: .2s ease;
			     -o-transition: .2s ease;
			        transition: .2s ease;
		}
		button:focus{
			outline:0;
		}
		.crtica{
			width: 50px;
			margin-bottom: 25px;
			height: 2px;
			background: $redcolor;
		}
		.cta{
			margin-bottom: 20px;
			.fr{
				padding-right: 10px;
			}
			.sc{
				padding-left: 10px;
			}
			a{
				p{
					padding-top: 14px;
					padding-bottom: 14px;
					font-weight: 500;
					letter-spacing: 0.5px;
					font-family: 'Montserrat', sans-serif;
					color: $whitecolor;
					font-size: 10px;
					background: $redcolor;
					text-transform: uppercase;
				}
			}
		}
		.crta2{
			width: 100%;
			height: 1px;
			background: $silvercolor;
		}
	}
	.video:after{
		 content: url('../img/videoico.png');
		width:68px;
	    height: 68px;
	    position: absolute;
	    left: 50%;
	    margin-left: -34px;
	    top: 50%;
	    margin-top: -34px;

	}
	.video:hover{
		&:after{
			opacity: 0.7;
		}
	}
}

.aboutfluid{
	min-height: 555px;
	background: $whitecolor;
	.circlearrow{
			position: absolute;
			left: 0;
			right: 0;
			margin-top: -80px;
			margin-left: 0;
			margin-right: 0;
			margin-left: 50%;
		i{
			background: $redcolor;
			border-radius: 50%;
			color: white;
			font-size: 18px;
			padding-top: 18px;
			padding-bottom: 18px;
			padding-left: 22px;
			margin-left: -28px;
			padding-right: 22px;
		}
		.crtica{
			height: 122px;
			width: 2px;
			background: $redcolor;
			margin-top: 10px;
			margin-left: -1px;
		}
	}
	.about{
		padding-top:130px;
		h2{
			margin: 0;
			color: $redcolor;
			font-size: 17px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
		}
		h1{
			margin: 0;
			margin-top: 15px;
			font-size: 25px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			color: $blackcolor;
		}
		p{
			color: $silvercolor;
			text-align: justify;
		    -moz-text-align-last: center;
		    text-align-last: center;
			max-width: 900px;
			margin: auto;
			margin-top: 30px;
			font-size: 13px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
		}
		.btns{
			margin-top: 75px;
			a{
				text-transform: uppercase;
				-webkit-box-shadow: 0px 3px 69px -5px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 3px 69px -5px rgba(0,0,0,0.75);
				box-shadow: 0px 3px 69px -5px rgba(0,0,0,0.75);
				background: $redcolor;
				text-align: center;
				font-size: 11px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 300;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 35px;
				letter-spacing: 1px;
				padding-right: 35px;
				color: $whitecolor;

			}
		}
	}
}

.servicesfluid{
	min-height: 775px;
	background: $sevicescolor;
	padding-top: 140px;
	.circlearrow{
		margin-top: -170px;
		.crtica{
			height: 125px;
			width: 2px;
			background: $redcolor;
			margin-left: 70px;
		}
	}

	.services{
		h2{
			margin: 0;
			margin-top: 42px;
			color: $redcolor;
			font-size: 17px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
		}
		h1{
			margin: 0;
			margin-top: 15px;
			font-size: 25px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			color: $blackcolor;
		}
		p{
			color: $silvercolor;
			text-align: left;
			max-width: 350px;
			margin-top: 30px;
			font-size: 13px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
		}
		.serv{
			margin-top: 80px;
			.changes{
				min-height: 150px;
			}
			img{
				margin-top: 6px;
			}
			i{
				margin: 0;
				font-size: 60px;
				color: $silvercolor;
			}
			h3{
				color: $blackcolor;
				margin: 0;
				margin-top: 6px;
				font-size: 17px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				span{
					color: $redcolor;
				}
			}
			p{ white-space: pre-line;
				margin-top: 13px;
				font-size: 12px;
			}
		}
		.serv2{
			margin-top: 60px;
		}
		.btns{
			margin-top: -75px;
			a{
				-webkit-box-shadow: 0px 3px 69px -5px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 3px 69px -5px rgba(0,0,0,0.75);
				box-shadow: 0px 3px 69px -5px rgba(0,0,0,0.75);
				background: $redcolor;
				text-align: center;
				font-size: 11px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 300;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 35px;
				letter-spacing: 1px;
				padding-right: 35px;
				color: $whitecolor;

			}
		}
	}
}


.ourappfluid{
	min-height: 1370px;
	background: $blackcolor;
	.circlearrow{
		width: 100%;
		margin-top: -30px;
		.crtica{
			height: 125px;
			width: 2px;
			background: $redcolor;
			margin: auto;
		}
	}
	.ourapp{
		h1{
			margin: 0;
			margin-top: 40px;
			font-size: 25px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			color: $whitecolor;
			text-align: center;
		}
		.mincrt{
			width: 60px;
			height: 2px;
			margin: auto;
			background: $redcolor;
			margin-top: 40px;
			margin-bottom: 95px;
		}
		.steps{
			text-align: right;
			img{
				margin-top: 50px;
			}
			h3{
				color: $redcolor;
				font-size: 17px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				margin: 0;
				margin-bottom: 30px;
			}
			h2{
				margin: 0;
				margin-bottom: 30px;
				font-size: 35px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 800;
				letter-spacing: 1px;
				color: $whitecolor;
			}
			p{
				color: $silvercolor;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 13px;
			}
			.servcrt{
				width: 2px;
				height: 100px;
				background: $silvercolor;
				margin: auto;
				margin-top: 40px;
			}
		}
		.steps2{
			text-align: left;
			img{
				margin-top: 50px;
			}
			h3{
				color: $redcolor;
				font-size: 17px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				margin: 0;
				margin-bottom: 30px;
			}
			h2{
				margin: 0;
				margin-bottom: 30px;
				font-size: 35px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 800;
				letter-spacing: 1px;
				color: $whitecolor;
			}
			p{
				color: $silvercolor;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 13px;
			}
			.servcrt{
				width: 2px;
				height: 100px;
				background: $silvercolor;
				margin: auto;
				margin-top: 40px;
			}
		}
	}
}


.ourpricingfluid{
	padding-bottom: 40px;
	min-height: 950px;
	background: $whitecolor;
	.circlearrow{
		width: 100%;
		margin-top: -30px;
		.crtica{
			height: 125px;
			width: 2px;
			background: $redcolor;
			margin: auto;
		}
	}
	.ourpricing{
		text-align: center;
		h2{
			margin: 0;
			color: $redcolor;
			font-size: 17px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			margin-top: 45px;
		}
		h1{
			margin: 0;
			margin-top: 15px;
			font-size: 25px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			color: $blackcolor;
		}
		.ops{
			margin-top: 50px;
			.col-md-4{
				padding: 30px;
				.content{
					border: 2px solid $textsilver;
					padding: 35px 55px 35px 55px;
					h3{
						font-size: 17px;
						font-family: 'Montserrat', sans-serif;
						font-weight: 600;
						letter-spacing: 1px;
						color: $blackcolor;
						margin-bottom: 50px;
					}
					h4{
						font-size: 35px;
						font-family: 'Montserrat', sans-serif;
						font-weight: 700;
						letter-spacing: 0px;
						color: $blackcolor;
						margin-top: 25px;
						margin-bottom: 15px;
					}
					h5{
						font-size: 17px;
						font-family: 'Montserrat', sans-serif;
						font-weight: 700;
						letter-spacing: 1px;
						color: $silvercolor;
						margin-bottom: 20px;
					}
					.crticaop{
						width: calc(100% - 4px);
						margin: auto;
						height: 1px;
						background: $textsilver;
						margin-bottom: 20px;
					}
					p{
						color: $silvercolor;
						text-align: justify;
					    -moz-text-align-last: center;
					    text-align-last: center;
						font-size: 12px;
						font-family: 'Montserrat', sans-serif;
						font-weight: 700;
					}
					.btns{
						margin-top: 40px;
						a{
							text-transform: uppercase;
							background: $redcolor;
							text-align: center;
							font-size: 11px;
							font-family: 'Montserrat', sans-serif;
							font-weight: 300;
							padding-top: 15px;
							padding-bottom: 15px;
							padding-left: 35px;
							letter-spacing: 1px;
							padding-right: 35px;
							color: $whitecolor;

						}
					}
				}
			}
			.col-md-4:nth-child(2){
				.content{
					border: 2px solid #e1e1e1;
				}
			}
		}
		
		.paragraph{
			margin-top: 35px;
			color: $silvercolor;
			text-align: justify;
		    -moz-text-align-last: center;
		    text-align-last: center;
			font-size: 13px;
			letter-spacing: 1px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
		}
	}
}


.conttesfluid{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,f5f5f5+50,222222+50,222222+100 */
	background: rgb(245,245,245); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 50%, rgba(34,34,34,1) 50%, rgba(34,34,34,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(245,245,245,1) 0%,rgba(245,245,245,1) 50%,rgba(34,34,34,1) 50%,rgba(34,34,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(245,245,245,1) 0%,rgba(245,245,245,1) 50%,rgba(34,34,34,1) 50%,rgba(34,34,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#222222',GradientType=1 ); /* IE6-9 */
	.conttes{
		.testomonial{
			padding-top: 150px;
			min-height: 635px;
			background: $sevicescolor;
			        h1{
			        	margin: 0;
			        	margin-bottom: 45px;
			        	font-size: 25px;
			        	font-family: 'Montserrat', sans-serif;
			        	font-weight: 700;
			        	letter-spacing: 1px;
			        	color: $blackcolor;
			        }
			.item{
				min-height: 260px;
				p{
					max-width: 550px;
				}
				
				p{
					text-align: justify;
					min-height: 140px;
					color: $textsilver;
					text-align: left;
					margin-top: 30px;
					font-size: 13px;
					letter-spacing: 1px;
					font-family: 'Montserrat', sans-serif;
					font-weight: 700;
				}
				h2{
					margin: 0;
					margin-top: 25px;
					font-size: 17px;
					font-family: 'Montserrat', sans-serif;
					font-weight: 700;
					letter-spacing: 1px;
					color: $blackcolor;
				}
			}
			a:focus{
				text-decoration: none;
			}
			.left{
				i{
					padding: 12px 30px 12px 30px;
					background: $redcolor;
					color: white;
					font-size: 16px;
				}
			}
			.right{
				i{
					margin-left: 10px;
					padding: 12px 30px 12px 30px;
					background: $redcolor;
					color: white;
					font-size: 16px;
				}
			}
		}
		.contact{
			min-height: 635px;
			background: $blackcolor;
			.crtica{
				height: 125px;
				width: 2px;
				background: $redcolor;
				margin: auto;
				margin-top: -30px;
			}
			
			h2{
				margin: 0;
				color: $redcolor;
				font-size: 17px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				letter-spacing: 1px;
				text-align: center;
				margin-top: 45px;
			}
			h1{
				margin: 0;
				margin-top: 15px;
				font-size: 25px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				letter-spacing: 1px;
				color: $whitecolor;
				text-align: center;
				margin-bottom: 65px;
			}
			form{
				input:focus, textarea:focus, button:focus{
					outline: 0;
				}
				input,textarea{
					font-size: 14px;
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
					background: transparent;
					border: none;
					width: 100%;
					margin-bottom: 30px;
					padding-top: 10px;
					padding-left: 15px;
					padding-bottom: 12px;
					color: $whitecolor;
					border-bottom: 3px solid $textsilver;

				}
				textarea{
					height: 45px;
				}
				input:focus,textarea:focus{
					-webkit-transition: .15s ease;
					   -moz-transition: .15s ease;
					    -ms-transition: .15s ease;
					     -o-transition: .15s ease;
					        transition: .15s ease;
					border-bottom: $redcolor 3px solid;
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: $whitecolor;
					}
					&::-moz-placeholder { /* Firefox 19+ */
					  color: $whitecolor;
					}
					&:-ms-input-placeholder { /* IE 10+ */
					  color: $whitecolor;
					}
					&:-moz-placeholder { /* Firefox 18- */
					  color: $whitecolor;
					}
				}
				button{
					font-size: 11px;
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
					color: $whitecolor;
					padding-left: 30px;
					padding-right: 30px;
					padding-top: 12px;
					padding-bottom: 12px;
					border: none;
					background: $redcolor;
				}
				
			}

		}

	}
}


.footerfluid{
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

	padding-top: 70px;
	padding-bottom: 80px;
	.footer{
		ul{
			margin: 0;
			padding: 0;
			margin-top: 20px;
			li{
				display: inline;
				span, a{
					color: $textsilver;
				}
				span:hover, a:hover{
					color: $whitecolor;
				}
				span:hover{
					border-bottom: 2px solid $redcolor;
					padding-bottom: 2px;
				}
			}
			li:hover{
				color: $whitecolor;
			}
		}
		.first{
			li{
				margin-right: 25px;
			}
		}
		.secound{
			text-align: right;
			li{
				margin-left: 25px;
				font-size: 15px;
			}
		}


	}
}
@media (min-width: 768px){
.modal-dialog {
	width: 650px;
}
}
.signup{
	.modal-content{
		padding-bottom: 60px;
		border-radius: 0;
		.modal-header{
			border: none;
			padding-bottom: 20px;
		}
		h2{
			margin: 0;
			color: $redcolor;
			font-size: 15px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
		}
		h1{
			margin: 0;
			margin-top: 15px;
			font-size: 40px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			color: $blackcolor;
		}
		.crtica{
			height: 140px;
			width: 2px;
			margin: auto;
			background: $redcolor;
			margin-top: -69px;
		}
		.forma{
			margin-top: 60px;
			font-family: 'Montserrat', sans-serif;
			input{
				margin-bottom: 15px;
				width: 100%;
				border: none;
				padding-bottom: 7px;
				padding-left: 15px;
				padding-top: 7px;
				border-bottom: 2px solid $silvercolor;
			}
			input:focus{
				outline: none;
				border-bottom: 2px solid $redcolor;
			}
			select{
				-webkit-appearance: none;
				background: $whitecolor;
				border-radius: 0;
				margin-bottom: 15px;
				width: 100%;
				border: none;
				padding-bottom: 7px;
				padding-left: 15px;
				padding-top: 7px;
				border-bottom: 2px solid $silvercolor;

				background-image:
				    linear-gradient(45deg, transparent 50%, gray 50%),
				    linear-gradient(135deg, gray 50%, transparent 50%),
				    linear-gradient(to right, #ccc, #ccc);
				  background-position:
				    calc(100% - 20px) calc(1em + 2px),
				    calc(100% - 15px) calc(1em + 2px),
				    calc(100% - 2.5em) 0.5em;
				  background-size:
				    5px 5px,
				    5px 5px,
				    1px 1.5em;
				  background-repeat: no-repeat;
			}
			select:focus{
				outline: none;
				border-bottom: 2px solid $redcolor;
			}
			button{
				background: $redcolor;
				border: none;
				color: $whitecolor;
				padding-left: 50px;
				padding-right: 50px;
				padding-top: 10px;
				padding-bottom: 10px;
				margin: auto;
				display: block;
				margin-top: 25px;
				font-size: 13px;
			}
		}
		h3{
			text-align: center;
			color: $silvercolor;
			font-size: 14px;
			span{
				color: $redcolor;
			}
		}
		img{
			margin-top: 100px;
		}
	}
}
.conttesfluid .conttes .contact form textarea{
	max-height: 125px;
}



.pheadfluid{
	margin-top: -130px;
	min-height: 464px;
	background: url(../img/pforilebg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.profileflid{
	background: $whitecolor;
	padding-bottom: 60px;
	.imgdiv{
			margin: auto;
			border: 4px solid $redcolor;
			margin-top: -94.5px;
			width: 189px;
			height: 189px;
			border-radius: 50%;
			padding-top: 10px;
		img{
			border-radius: 50%;
			-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
		}
	}
	h2{
		margin: 0;
		color: $redcolor;
		font-size: 17px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		margin-top: 13px;
		margin-bottom: 40px;
	}
	h1{
		margin: 0;
		margin-top: 35px;
		font-size: 25px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		color: $blackcolor;
	}
	ul{
		margin: 0;
		text-align: center;
		li{
			padding-left: 30px;
			padding-right: 30px;
			display: inline;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			color: $textsilver;
		}
		li:nth-child(2){
			padding-left: 31px;
			padding-right: 31px;
			border-left: 1px solid $textsilver;
			border-right: 1px solid $textsilver;
		}
	}
}
.table>tbody>tr>td{
	padding-top: 25px;
}
.table>tbody>tr>.first{
	padding: 0;
}
.table>tbody>tr>.last{
	padding-top: 15px;
	padding-bottom: 15px;
}
.tabsbody{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	td{
		border: 1px solid #9b9b9b;
		background: $whitecolor;
		color: $blackcolor;
		font-weight: 500;
		width: 100px;
	}
	.first{
		vertical-align: middle;
		color: $redcolor;
		font-weight: 600;
		background: #d2d2d2;
		width: 170px;
	}
	background: $blackcolor;
	padding-top: 75px;
	padding-bottom: 75px;
	.col-md-10{
		padding-left: 55px;
		padding-right: 55px;
		img{
			display: inline;
			margin-right: 15px;
			border: 2px solid $whitecolor;
			border-radius: 50%;
		}
		.summary{
			h2{
				font-family: 'Montserrat', sans-serif;
				font-weight: 600;
				font-size: 13px;
				color: $redcolor;
			}
			h3{
				font-family: 'Montserrat', sans-serif;
				font-weight: 400;
				font-size: 13px;
				color: $whitecolor;
			}
			img{
				border-radius: 0;
				border: none;
			}
			.table > tbody > tr > td{
				padding-top: 20px;
				padding-bottom: 20px;
			}
			.table>tbody>tr>.first{
				padding:0;
			}
		}
	}
}

.table>thead>tr>th{
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #9b9b9b;
	background: $blackcolor;
}
thead{
	border-top: 2px solid $redcolor;
}
@media screen and (max-width: 1200px) {
	.tabsbody{
		.col-md-10{
			padding: 0;
			img{
				padding-top: 5px;
				border: none;
				display: block;
				padding-left: 5px;
				padding-right: 5px;
				margin: auto;
			}
		}
	}
}



.tabshead{
	background: $sevicescolor;
}
.tabs{
	.panel-body{
		padding: 0;
		color: $whitecolor;
	}
	.panel-heading{
		padding: 0;
	}
	.nav-tabs{
		border: none;
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
		border: none;
		color: $blackcolor;
		background: transparent;
		padding-top: 16px;
		padding-left: 34px;
		padding-right: 34px;
		p{
			border-bottom: 2px solid $redcolor;
		}
	}
	.nav-tabs>li>a{
		text-transform: uppercase;
		color: $textsilver;
		padding-top: 15px;
		padding-left: 33px;
		padding-right: 33px;
		padding-bottom: 0;
		margin: 0;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		p{
			margin: 0;
			padding-bottom: 15px;
		}
	}
}


.inviteplayers{
	background: $sevicescolor;
	padding-top: 90px;
	padding-bottom: 90px;
	h1{
		margin: 0;
		margin-top: 15px;
		font-size: 25px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		color: $blackcolor;
	}
	.mincrt{
		width: 60px;
		height: 2px;
		margin: auto;
		background: $redcolor;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	p{
		color: $blackcolor;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 13px;
		margin-bottom: 30px;
	}
	.bbtn{
		margin-top: 220px;
		a{
			background: $redcolor;
			padding: 15px 20px 15px 20px;
			color: $whitecolor;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 11px;
			img{
				margin-top: -2px;
				margin-right: 30px;
			}
		}
	}
	.ldiv{
		margin-top: 145px;
		background: $whitecolor;
		border-radius: 2.5px;
		float: right;
		h2{
			color: $blackcolor;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 15px;
			text-align: center;
			padding: 0;
			margin-bottom: 0;
		}
		padding: 20px;
		max-width: 170px;
	}
	form{
		vertical-align:top;

		padding: 10px;
		background: #e1e1e1;
		.color{
			background: $redcolor;
		}
		input{
			padding: 0;
			padding-left: 15px;
			margin: 0;
			width: calc(100% - 80px);
			border: none;
			box-shadow: none;
			height: 45px;
			vertical-align:top;
		}
		button{
			vertical-align:top;
			background: $redcolor;
			width: 76px;
			height: 45px;
			padding: 0;
			border: none;
			margin: 0;
		}
	}
}



.invpltable{
	background: url(../img/bginvpl.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
	h1{
		margin: 0;
		margin-top: 15px;
		font-size: 25px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		color: $whitecolor;
		margin-bottom: 70px;
	}
	.nbtn{
		margin-top: 120px;
		a{
			background: $redcolor;
			padding: 15px 20px 15px 20px;
			color: $whitecolor;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 11px;
			img{
				margin-top: -2px;
				margin-left: 30px;
			}
		}
	}

	.table > tbody > tr > .first{
		padding-top: 10px;
	}
	.table{
		thead{
			border: none;
		}

		tbody{
			.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
				    display: inline-block;
			}
			.invbtn{
				text-align: center;
				a{
					background: white;
					color: #222222;
					font-family: 'Montserrat', sans-serif;
					font-weight: 700;
					font-size: 11px;
					padding: 10px;
					img{
						margin-left: 15px;
					}
				}
			}
			.invbtnsm{
				text-align: left !important;
			}
		}
	}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
		    border-bottom: 1px solid #636363;
		    border-top: none;
		    color: #ffffff;
	}
	.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
		background: #6e6e6e;
		color: $whitecolor;
		border: none;
	}
}


.invpltable .tablepho .table > tbody > tr > td{
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.invpltable .tablepho{
	.table{
		background: #404040;
		margin-bottom: 0;
		.imghead{
			position: absolute;
			padding: 11px;
			padding-left: 15px;
		}
	}
	.table thead{
		background: #6e6e6e;
	}

}



.invpltableformobile{
	display: none;
}
@media(max-width:768px){
	.invpltable{
		display: none;
	}
	.invpltableformobile{
		display: block;
	}
}
@media(max-width:767px){
	.invpltable .tablepho{
		.col-sm-6{
			max-width: 350px;
			margin: auto;
		}
	}
}

.editprofile{
	background: $sevicescolor;
	padding-top: 90px;
	padding-bottom: 55px;
	h1{
		margin: 0;
		margin-top: 15px;
		font-size: 25px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		color: $blackcolor;
	}
	p{
		color: $blackcolor;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 13px;
		margin-bottom: 95px;
		margin-top: 35px;
	}
	.uploadimg{
		padding-top: 80px;
		padding-bottom: 80px;
		-webkit-box-shadow: 0px 0px 11px 2px rgba(223,223,223,1);
		-moz-box-shadow: 0px 0px 11px 2px rgba(223,223,223,1);
		box-shadow: 0px 0px 11px 2px rgba(223,223,223,1);
	}
	.nbtn{
		margin-top: 60px;
		a{
			background: $redcolor;
			padding: 15px 20px 15px 20px;
			color: $whitecolor;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 11px;
			img{
				margin-top: -2px;
				margin-left: 30px;
			}
		}
	}
	.formaedit{
		background: $whitecolor;
		-webkit-box-shadow: 0px 0px 11px 2px rgba(223,223,223,1);
		-moz-box-shadow: 0px 0px 11px 2px rgba(223,223,223,1);
		box-shadow: 0px 0px 11px 2px rgba(223,223,223,1);
		padding-top: 70px;
		padding-bottom: 70px;
	.forma{
		
		h2{
			margin: 0;
			color: $redcolor;
			font-size: 15px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			text-align: center;
			margin-bottom: 60px;
		}
		h1{
			margin: 0;
			font-size: 40px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
			color: $blackcolor;
			text-align: center;
		}
		font-family: 'Montserrat', sans-serif;
		input{
			max-width: 300px;
			margin: auto;
			display: block;
			margin-bottom: 15px;
			width: 100%;
			border: none;
			padding-bottom: 7px;
			padding-left: 15px;
			padding-top: 7px;
			border-bottom: 2px solid $silvercolor;
		}
		input:focus{
			outline: none;
			border-bottom: 2px solid $redcolor;
		}
		select{
			-webkit-appearance: none;
			background: $whitecolor;
			border-radius: 0;
			width: 100%;
			max-width: 300px;
			margin: auto;
			margin-bottom: 15px;
			display: block;
			border: none;
			padding-bottom: 7px;
			padding-left: 15px;
			padding-top: 7px;
			border-bottom: 2px solid $silvercolor;

			background-image:
			    linear-gradient(45deg, transparent 50%, gray 50%),
			    linear-gradient(135deg, gray 50%, transparent 50%),
			    linear-gradient(to right, #ccc, #ccc);
			  background-position:
			    calc(100% - 20px) calc(1em + 2px),
			    calc(100% - 15px) calc(1em + 2px),
			    calc(100% - 2.5em) 0.5em;
			  background-size:
			    5px 5px,
			    5px 5px,
			    1px 1.5em;
			  background-repeat: no-repeat;
		}
		select:focus{
			outline: none;
			border-bottom: 2px solid $redcolor;
		}
		button{
			background: $redcolor;
			border: none;
			color: $whitecolor;
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin: auto;
			display: block;
			margin-top: 25px;
			font-size: 13px;
		}
	}
	h3{
		text-align: center;
		color: $silvercolor;
		font-size: 14px;
		span{
			color: $redcolor;
		}
	}
	}
}

	.styled-select select:focus{
		outline: none;
	}
.selectdivedit{
	
	background: url(../img/bgeditpage.png) no-repeat top $sevicescolor;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	padding-bottom: 100px;
	h3{
		color: $textsilver;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 19px;
		margin-top: 35px;
	}

	.styled-select select {
	   background: transparent;
	   width: 100%;
	   padding: 5px;
	   font-size: 16px;
	   line-height: 1;
	   border: 0;
	   border-radius: 0;
	   height: 50px;
	   -webkit-appearance: none;
	   color: $blackcolor;
	   font-family: 'Montserrat', sans-serif;
	   font-weight: 400;
	   font-size: 15px;
	   	padding-left: 15px;

	   }
   .styled-select {
   	border-radius: 10px;
   	border: 2px solid #c6c6c6;
      width: 100%;
      height: 55px;
      overflow: hidden;
      background: url(../img/selecticoeditprofil.png) no-repeat right $whitecolor;
      background-position: right 10px top 23px;
    }

    button{
    	background: $redcolor;
    	border: none;
    	color: $whitecolor;
    	padding-left: 50px;
    	padding-right: 50px;
    	padding-top: 10px;
    	padding-bottom: 10px;
    	margin: auto;
    	display: block;
    	margin-top: 50px;
    	font-size: 13px;
    }
}


.detailsprofile{
	p{
		margin-bottom: 20px;
	}
}

// hoveri
.selectdivedit button:hover, .editprofile .formaedit .forma button:hover{
	background: $blackcolor !important;
	-webkit-transition: .15s ease;
	   -moz-transition: .15s ease;
	    -ms-transition: .15s ease;
	     -o-transition: .15s ease;
	        transition: .15s ease;
}
.contact form button:hover{
	background: $silvercolor !important;
	-webkit-transition: .15s ease;
	   -moz-transition: .15s ease;
	    -ms-transition: .15s ease;
	     -o-transition: .15s ease;
	        transition: .15s ease;
}
.inviteplayers form button:hover{
	background: $blackcolor !important;
	-webkit-transition: .15s ease;
	   -moz-transition: .15s ease;
	    -ms-transition: .15s ease;
	     -o-transition: .15s ease;
	        transition: .15s ease;
}
.invbtn:hover{
	a{
		background: #969696 !important;
		-webkit-transition: .15s ease;
		   -moz-transition: .15s ease;
		    -ms-transition: .15s ease;
		     -o-transition: .15s ease;
		        transition: .15s ease;
	}
}
.fr:hover, .sc:hover, .btns:hover, .right:hover, .left:hover, .bbtn:hover, .nbtn:hover {
	p,a,i{
		background: $blackcolor !important;
		-webkit-transition: .15s ease;
		   -moz-transition: .15s ease;
		    -ms-transition: .15s ease;
		     -o-transition: .15s ease;
		        transition: .15s ease;
	}
}
// hoveri


.maphead{
  padding-top: 180px;
  margin-top: -130px;
  min-height: 464px;
  background: url(../img/pforilebg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1{
	margin: 0;
	margin-top: 15px;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	color: $whitecolor;
	text-align: center;
  }
  p{
	margin: 0;
	margin: auto;
	margin-top: 15px;
	font-size: 13px;
	max-width: 555px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	color: $whitecolor;
	text-align: center;
  }
  .mapbtn{
	margin-top: 90px;
	margin-bottom: 50px;
	max-width: auto;
	a{
	  text-align: right;
	  float: right;
	  background: $redcolor;
	  padding: 15px 20px 15px 20px;
	  color: $whitecolor;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: 400;
	  font-size: 11px;
	  img{
		margin-top: -2px;
		margin-left: 30px;
	  }
	}
  }
  form{
	margin-top: 90px;
	margin-bottom: 50px;
	vertical-align:top;
	background: #555555;
	.color{
	  background: #555555;
	}
	input{
	  padding: 0;
	  padding-left: 15px;
	  margin: 0;
	  width: calc(100% - 80px);
	  border: none;
	  box-shadow: none;
	  height: 45px;
	  vertical-align:top;
	  background: #555555;
	  color: $whitecolor;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: 300;
	  font-size: 14px;
	}
	button{
	  vertical-align:top;
	  background: $redcolor;
	  width: 76px;
	  height: 45px;
	  padding: 0;
	  border: none;
	  margin: 0;
	}
	input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $whitecolor;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: 300;
	  font-size: 14px;
	}
	input::-moz-placeholder { /* Firefox 19+ */
	  color: $whitecolor;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: 300;
	  font-size: 14px;
	}
	input:-ms-input-placeholder { /* IE 10+ */
	  color: $whitecolor;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: 300;
	  font-size: 14px;
	}
	input:-moz-placeholder { /* Firefox 18- */
	  color: $whitecolor;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: 300;
	  font-size: 14px;
	}
	input:focus{
	  outline:0;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: 300;
	  font-size: 14px;
	}
  }
}


.headersendm{
	background: $whitecolor;
	padding-top: 70px;
	padding-bottom: 70px;
	  h1{
		margin: 0;
		margin-top: 15px;
		font-size: 25px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		color: $blackcolor;
		text-align: center;
	  }
	  p{
		margin: 0;
		margin: auto;
		margin-top: 15px;
		font-size: 13px;
		max-width: 300px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: $textsilver;
		text-align: center;
	  }
}

.newconwersations{
	background: $sevicescolor;
	padding-top: 30px;
	padding-bottom: 30px;
	  h2{
	  	display: inline-block;
		font-size: 17px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		color: $blackcolor;
		text-align: left;
	  }
	  h3{
		font-size: 17px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		color: $blackcolor;
		text-align: center;
	  }
	  .conbtn{
	  	display: inline-block;
	  	float: right;
	  	margin-top: 18px;
	  	a{
	  		text-transform: uppercase;
	  		-webkit-box-shadow: 0px 4px 9px 0px rgba(132,132,132,0.49);
	  		-moz-box-shadow: 0px 4px 9px 0px rgba(132,132,132,0.49);
	  		box-shadow: 0px 4px 9px 0px rgba(132,132,132,0.49);
	  		background: $redcolor;
	  		text-align: center;
	  		font-size: 11px;
	  		font-family: 'Montserrat', sans-serif;
	  		font-weight: 300;
	  		padding-top: 15px;
	  		padding-bottom: 15px;
	  		padding-left: 35px;
	  		letter-spacing: 1px;
	  		padding-right: 35px;
	  		color: $whitecolor;

	  	}
	  }
	  .setonmid{
	  	display: inline-block;
	  	text-align: center;
	  	margin: auto;
	  	img{
	  		display: inline-block; 
	  		margin-right: 15px;
	  	}
	  	h3{
	  		display: inline-block;
	  	}
	  	.conbtn{
			float: none;
			margin-left: 15px;
	  	}
	  }
}

.messagecontent{
	background: url(../img/messagebg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	#conversationMessages{
		max-height: 480px;
		overflow: scroll;
		overflow-x: hidden;
		padding-bottom: 50px;
	}
	.leftsidemessage{
		background: $whitecolor;
		img{
			width: 100%;
			max-width: 100px;
			margin: auto;
		}
	  h4{
		font-size: 15px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		margin: 0;
		padding: 0;
		color: $blackcolor;
		text-align: left;
	  }
	  p{
	  	font-size: 11px;
	  	font-family: 'Montserrat', sans-serif;
	  	font-weight: 400;
	  	margin: 0;
	  	padding: 0;
	  	color: $blackcolor;
	  	text-align: left;
	  }
	  span{
	  	font-size: 10px;
	  	font-family: 'Montserrat', sans-serif;
	  	font-weight: 400;
	  	margin: 0;
	  	padding: 0;
	  	color: $blackcolor;
	  	text-align: right;
	  }
	  .conversation-box:hover{
	  	background: #d6d6d6;
	  }
	  .conversation-box{
	  	border-bottom: 1px solid #d6d6d6;
	  }
	}
	.textboxmessage{
		border: 1px solid #d6d6d6;
		background: $whitecolor;
		padding-top: 20px;
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		letter-spacing: 1px;
		color: $blackcolor;
		
	}
	.sendMessageForm{
		textarea{
			width: 100%;
			border: none;
			background: #d6d6d6;
			height: 50px;
			max-width: 100%;
			min-width: 100%;
			min-height: 50px;
			margin-bottom: -4px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 5px;
		}
		textarea:focus{
			outline: none;
		}
		input[type=submit]{
			visibility: hidden;
			position: absolute;
		}

	}
}
.messagecontent #conversationMessages{
	padding-right: 40px;
	padding-left: 40px;
}
.newconv{
	  h3{
		font-size: 17px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		margin: 0;
		padding: 0;
		color: $blackcolor;
		text-align: left;
	  }
	  input{
	    padding: 0;
	    padding-left: 15px;
	    margin: 0;
	    width: 100%;
	    border: none;
	    box-shadow: none;
	    border-bottom: 1px solid #e6e6e6;
	    height: 45px;
	    vertical-align:top;
	    background: $whitecolor;
	    color: $blackcolor;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 300;
	    font-size: 14px;
	  }
	  textarea{
	  	width: 100%;
	  	border: none;
	  	background: $whitecolor;
	  	color: $blackcolor;
	  	height: 50px;
	  	max-width: 100%;
	  	min-width: 100%;
	  	min-height: 150px;
	  	margin-bottom: -4px;
	  	padding-left: 15px;
	  	padding-right: 15px;
	  	padding-top: 5px;
	  }
	  
	  .modal-header{
	  	background: #e6e6e6;
	  }
	  .modal-body{
	  	padding: 0;
	  }
	  input[type=submit]{
	  	width: 120px;
	  	padding-left: 0;
	  	background: $redcolor;
	  	margin: auto;
	  	display: block;
	  	color: $whitecolor;
	  }
	  .dugme{
	  	padding-top: 10px;
	  	padding-bottom: 10px;
	  	background: #e6e6e6;
	  	width: 100%;
	  }
}

input:focus, textarea:focus{
	outline: none;
}



.findplayers{
	h1{
		margin-bottom: 25px;
	}
}


.findfadd{
	.cont{
		background: $sevicescolor;
		padding-left: 40px;
		padding-right: 40px;
		-webkit-box-shadow: 0px 0px 18px 1px rgba(132,132,132,1);
		-moz-box-shadow: 0px 0px 18px 1px rgba(132,132,132,1);
		box-shadow: 0px 0px 18px 1px rgba(132,132,132,1);
		.col-md-2{
			padding: 0;
		}
		.col-md-2:first-child{
			padding-left: 15px;
		}
		.sadrzaj{
			border-bottom: 1px solid $silvercolor;
			padding-bottom: 30px;
			padding-top: 30px;
		}
		.sadrzaj:last-child{
			border-bottom: 0;
		}
	}
	p{
		padding: 0;
		margin: 0;
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: $silvercolor;
	}
	.p2{
		color: $blackcolor;
		font-weight: 700;
	}
	.nbtn{
		margin-top: 15px;
		text-align: right;
		a{
			background: $redcolor;
			padding: 15px 20px 15px 20px;
			color: $whitecolor;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 11px;
			img{
				margin-top: -2px;
				margin-left: 30px;
			}
		}
	}
	h1{
		padding: 0;
		margin: 0;
		margin-top: 30px;
		font-size: 18px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		color: $blackcolor;
		padding-bottom: 30px;
	}
}

.gic1{
	background: white url(../img/ns2bgf.jpg) no-repeat bottom;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	background-position: bottom;
}
.gic2{
	background: url(../img/bginvpl.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
	h1{
		margin: 0;
		margin-top: 15px;
		font-size: 25px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		color: $whitecolor;
	}
	p{
		color: $textsilver;
		font-size: 15px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
	}
	.tabela{
		margin-top: 50px;
	}
	.tabele{
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		h2{
			display: none;
		}
		.col-md-2{
			padding: 0;
			h2{
				width: 100%;
				padding-top: 18px;
				padding-bottom: 18px;
				background: $redcolor;
				color: $whitecolor;
				font-size: 15px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				margin-bottom: 0;
				margin-top: 0;
						min-height: 52px;
			}
			p{
				background: white;
				padding-top: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid $silvercolor;
				margin-bottom: 0;
						min-height: 52px;
			}
		}
		.col-md-2:first-child{
			text-align: left;
			h2,p{
				padding-left: 15px;
			}
		}
	}
	.tabele:first-child{
		h2{
			display: block !important;
		}
	}
}

.yourgame{
	h1{
		margin: 0;
		font-size: 25px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		color: $blackcolor;
	}
	.tabela{
		margin-top: 50px;
				margin-bottom: 100px;
	}
	.tabele{
		padding-left: 15px;
		padding-right: 15px;
		text-align: left;
		h2{
			display: none;
		}
		.col-md-2{
			padding: 0;
			h2{
				width: 100%;
				padding-top: 18px;
				padding-bottom: 18px;
				background: $redcolor;
				color: $whitecolor;
				font-size: 15px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				margin-bottom: 0;
				margin-top: 0;
						min-height: 52px;
			}
			p{
				background: white;
				padding-top: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid $silvercolor;
				margin-bottom: 0;
						min-height: 52px;
			}
		}
		.col-md-2:first-child{
			text-align: left;
			h2,p{
				padding-left: 15px;
			}
		}
	}
	.tabele:first-child{
		h2{
			display: block !important;
		}
	}

	.nbtn{
		a{
			background: $redcolor;
			padding: 15px 20px 15px 20px;
			color: $whitecolor;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 11px;
			img{
				margin-top: -2px;
				margin-left: 30px;
			}
		}
	}
}

